<!-- Navivation header -->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">Menu</a>
    <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarContent" class="collapse navbar-collapse">
        <div class="m-auto"><strong>Welcome back, {{ current_user.username }}</strong></div>
        <div class="nav-item"><a href="/logout" class="nav-link font-weight-bold text-uppercase">Log out</a></div>
    </div>
</nav>
<hr class="thickhr">
